<header class="header" style="background-color: #e5fdf1;">
    <div class="container">
        <div class="row" style="margin-left: 30px; margin: 0 0 0px; padding-top: 5px; font-family: sans-serif;">
            <p style="margin-bottom: 5px; font-size: 14px;">ATTENTION! It's a pet-project. All characters and events depicted are fictitious. Any similarity to actual persons is purely coincidental.<br>
            Site developer: Komarnitskiy Pavel. Email: engenerpaul.kpa@gmail.com. GitHub: <a style="color: #337ab7;" href="https://github.com/EngenerPaul/">github.com/EngenerPaul</a>.</p>
        </div>
    </div>
</header>
<hr style="margin: 0; border-top: 1px solid #66CDAA; opacity: 1">